

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para o layout */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Aplica a fonte Oswald ao corpo do documento */
body {
    font-family: 'Oswald', sans-serif;
}

/* Flexbox para alinhar o conteúdo dos cartões */
.card .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Estilos para os títulos e parágrafos nas colunas */
.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centraliza o texto */
}

/* Estilos para os títulos */
.left h2, .right h2 {
    background-color: #ffc54a;
    font-size: 44px;
    color: #001736; 
    margin-bottom: 10px;
}

/* Estilos para os parágrafos */
.left p, .right p {
    font-size: 16px;
    color: #666;
}



/* Adiciona divisão entre os títulos */
.divider {
    width: 100%;
    border-bottom: 2px solid #ccc;
    margin: 20px 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

/* Header */
header {
    background-color: #001736;
    color: white;
    padding: 0px 0;
    text-align: center;
}

/* Navigation Menu */
nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #00bbfa, #001736);
    padding: 10px 50px;
    border-bottom: 2px solid #fff; /* Adiciona uma linha branca na parte inferior */
}

nav a {
    color: #eee;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease; /* Adiciona uma transição suave */
}

nav a:hover {
    font-weight: bold;
    color:     black;
    background-color: #ffc54a;
}

/* Main Content */
main {
    max-width: 1500px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto 1fr; /* Ajuste na proporção das colunas */
    gap: 30px;
    padding: 0 20px; /* Adiciona 20px de padding nas laterais */
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto; /* Centraliza os cartões */
}

.card h2 {
    margin-bottom: 50px;
    color: #333;
}

.card p {
    color: #666;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 10px;
}

.card ul li a {
    text-decoration: none;
    color: #007bff;
}

.card ul li a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    
    background: linear-gradient(to right, #00bbfa, #001736);
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px; /* Adjust the height to match your images */
}

.overlay {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background color */
    padding: 20px;
}

.content {
    display: flex;
    margin-bottom: 20px;
}

.left {
    flex: 1;
}

.right {

    flex: 1;
    text-align: center;
}

.left img {
    max-width: 800px;
    max-height: 300px; 
    border-radius: 8px;
}

.right img {
    max-width: 250px;
    max-height: 350px;
    border-radius: 10px;
}

.image-carousel {
    position: relative;
    width: 100%;
}

.carousel-image {
    display: none;
    max-width: 100%; /* Garante que as imagens mantenham sua proporção */
    height: auto; /* Mantém a proporção da imagem */
}

.carousel-image.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    z-index: 1;
    color: #001736;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}