@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-blue:#A6034F;
    --light-green: #F29422;
    --dirt-brown: #072026;
}

* {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

main {
    position: relative;
}

header {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: var(--dark-blue);
    padding: 1rem;
    max-width: 100%;
    border-bottom: solid var(--light-green) 5px;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: var(--dirt-brown);
}

img {
    max-width: 100%;
    height: auto;
}

#data-card,
#weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    padding: 20px;
    border-top: solid var(--light-green) 5px;
    border-radius: 15px; /* Added border-radius for rounded corners */
    margin: 20px; /* Added margin for spacing */
    background-color: white; /* Added background color */
}

#data-card h2,
#weather-card h2 {
    margin-bottom: 20px; /* Added margin bottom for spacing */
}

.table-title {
    font-weight: bold;
    padding: 4px;
}

td:last-child {
    text-align: left;
}

#weather-card h2::after {
    content: "Weather";
}

#weather-icon {
    max-width: 30%;
}

footer {
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    max-width: 100%;
}
